.image {
    width: 52px;
    height: 52px;
    margin: 1rem;
    padding-top: 0.5rem;
    border-radius: 50%;
}
.article-container {
    border: 1px solid lightgray;
    width: 37rem;
}

.article-top {
    display: flex;
}

.article-headline h2 {
    padding-bottom: 0rem;
    margin-top: 1.9rem;
    margin-bottom: 0.4rem;
}
.article-header {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-decoration-style: none;
    font-weight: normal;
    font-size: 19pt;
}
.link a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.link {
    margin-top: 0.4rem;
}
.article-author a {
    text-decoration: none;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.article-author {
    margin: 0rem;
}
img.article-icon-heart {
    width: 26px;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
img.article-icon-comment {
    width: 26px;
    margin-left: 0.7rem;
    margin-top: 1rem;
}
.article-icons {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
.article-icons-container {
    margin-bottom: 14px;
}
.article-button {
    background-color: rgb(110, 30, 156);
    color: white;
    border-radius: 15%;
    padding: 0.5rem;
    width: 4rem;
    letter-spacing: 0.3mm;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    float: right;
    margin-right: 0.9rem;
}
